* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    background: beige;
}

.card {
    height: fit-content;
    width: 360px;

    background-color: rgba(60, 60, 255, 0.06);
    position: relative;
    padding-bottom: 50px;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

h2,
h6,
h3 {
    text-align: center;
}

h2 {
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 14px;
    margin: 25px 0 10px 0;
    text-transform: uppercase;
}

h6 {
    font-size: 24px;
    color: #b3b3b3;
    letter-spacing: 5px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

h3 {
    font-size: 50px;
}

.container {
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto;
}

.details {
    text-align: center;
    font-size: 13px;
    letter-spacing: 0.5px;
}

.details span {
    color: grey;
}

.details:first-child {
    border-right: 1px solid grey;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 2.5em;
    width: 2.5em;
    outline: none;
    background: #ffffff54;
    color: grey;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.search-btn:hover {
    background: #ffffff80;
}

.search-bar {
    outline: none;
    border: none;
    height: 2.5em;
    padding: 1em;
    padding-left: 2em;
    background: #ffffff54;
    border-radius: 18px;
    color: grey;
    font-family: inherit;
    margin: 1em;
}

.city {
    padding: 20px;
}

.weather-img {
    display: block;
}
